

@font-face {
    font-family: 'Metropolis black';
    src: url(../fonts/Metropolis/Metropolis-Black.otf);
    font-style: normal;
}

@font-face {
    font-family: 'Neostone';
    src: url(../fonts/neostone/NeoStoneDemo.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url(../fonts/trajan-pro/TrajanPro-Bold.otf);
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato/Lato-Light.ttf);
    font-style: normal;
}

:root {
    --primary-text-color: #ecf0f1;
    --primary-background-color: #222f33;
    --secondary-background-color: #E1AD01;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    height: 100vh;
    margin: 0;
    padding: 0;
}


section {
    padding: 50px 0;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Metropolis black', serif;
    background-color: var(--secondary-background-color);
    display: flex;
    place-content: center;
    padding: 30px;

    nav {

        ul {
            display: flex;

            li {
                list-style: none;
                padding: 0 20px;
    
                a {
                    text-decoration: none;
                    color: var(--primary-text-color);
                }
            }
        }
    }

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;

    h1 {
        margin: 0;
        font-family: 'Neostone', serif;
        font-size: 50px;
    }
}

.skills {

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        li {
            list-style: none;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-family: 'Trajan Pro', sans-serif;
                font-size: 20px;
                display: flex;
            }
        }
    }
}

.heroSection {
    background-image: url(../Images/Photos/APSunset.JPG);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    h1 {
        font-family: 'Metropolis Black', serif;
    }
}

footer {
    height: 40px;
    background-color: #E1AD01;
    display: flex;
    justify-content: center;
    align-items: center;
        
    h6 {
        font-family: 'Metropolis black', serif;
        font-size: 13px;
    }
}

/* Contact Page*/ /* Contact Page*/ /* Contact Page*/ /* Contact Page*/ /* Contact Page*/

.contactDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

    .emailBox {
        height: 50px;
        width: 200px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;

        h2 {
            font-family: 'Trajan Pro', serif;
        }
    }

    .emailLink {
        margin: 100px 0 200px 0;

        p {
            font-family: 'Lato', sans-serif;
        }
    }
}

/* Contact Page*/ /* Contact Page*/ /* Contact Page*/ /* Contact Page*/ /* Contact Page*/

@media screen and (min-width: 1000px) {

    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 76px 1fr 40px;
    }

    header {
        grid-column: 1 / -1;

        nav {
            width: 80%;
            display: flex;
            justify-content: flex-end;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


    .heroSection {
        grid-column: 2 / -1;
        height: 100%;
        padding: 0;
    }

    footer {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
    }
}