

body {
    background-color: #222f33;
    margin: 0;
    padding: 0;
    color: #ecf0f1;
}

.homeContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 150px 1fr 1fr 40px;
    grid-template-areas: 
    'h'
    'l'
    's'
    'hero'
    'f'
    ;
}

header {
    font-family: 'Metropolis black', serif;
    background-color: #E1AD01;
    grid-area: 'h';
    display: flex;
    justify-content: center;
    align-items: center;

    nav {

        ul {
            margin: 0;
            padding: 0;
            display: flex;

            li {
                list-style: none;
                padding: 0 20px;
    
                a {
                    text-decoration: none;
                    color: #ecf0f1;
                }
            }
        }
    }

}

.logo {
    grid-area: 'l';
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        font-family: 'Neostone', serif;
        font-size: 50px;
    }
}

.skills {

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        li {
            list-style: none;

            h3 {
                font-family: 'Trajan Pro', sans-serif;
                font-size: 20px;
            }
        }
    }
}

.heroSection {
    background-color: #222f33;
    background-image: url(../Images/Photos/APSunset.JPG);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Metropolis Black', serif;
    }
}

footer {
    background-color: #E1AD01;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
        
    h6 {
        font-family: 'Metropolis black', serif;
        font-size: 13px;
    }
}