@import url('https://fonts.googleapis.com/css?family=Kanit:700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Navbar*/

li, a {
	font-family: "Kanit", serif;
	font-size: 18px;
	color: #ecf0f1;
	text-decoration: none;
}

header {
	background-color: #91a0ae;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;

}


.nav_links {
	display: flex;
	list-style: none;
}

.nav_links li {
	padding: 0px 10px;
}

/*Navbar*/